
		<div class="app-main-layout-container">
			<div class="app-main-layout-mask"></div>
			<div class="app-main-layout">
				<div class="app-main-layout-header">
					<div class="app-main-layout-wrapper header">
						<div class="page-heading">
							<h2>Contacts</h2>
							<p>Items list</p>
						</div>
					</div>
				</div>
				<div class="app-main-layout-wrapper">
					<div class="app-main-layout-content">
						<div data-duration-in="300" data-duration-out="100" data-current="Tab 4" data-easing="ease" class="w-tabs">
							<div class="align-right w-tab-menu">
								<a data-w-tab="Tab 1" class="switcher-tab left w-inline-block w-tab-link"><div>Name A-Z</div></a><a data-w-tab="Tab 4" class="switcher-tab w-inline-block w-tab-link w--current"><div>Name Z-A</div></a>
								<a data-w-tab="Tab 5" class="switcher-tab w-inline-block w-tab-link"><div>Recent</div></a><a data-w-tab="Tab 6" class="switcher-tab right w-inline-block w-tab-link"><div>Oldest</div></a>
							</div>
							<div class="chart-tab-content w-tab-content">
								<div data-w-tab="Tab 1" class="w-tab-pane">
									<div class="w-dyn-list">
										<div role="list" class="w-dyn-items">
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/charles-bode" class="contact-profile w-inline-block">
																			<img alt="" src="images/1594481246543-image19.jpg" class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Charles Bode</h6>
																				<div>SendBox</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Pending</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">NY, USA</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1133290016" class="call-contact w-inline-block"></a><a href="mailto:Charles_Bode82@gmail.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/clinton-neque" class="contact-profile w-inline-block">
																			<img alt=""
																				 src="images/1594481246620-image7.jpg"
																				 sizes="50px"
																				 srcset="images/1594481246620-image7-p-1080.jpeg 1080w, images/1594481246620-image7.jpg 1300w"
																				 class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Clinton Neque</h6>
																				<div>Enigma Inc.</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Active</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">London, England</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1178668799" class="call-contact w-inline-block"></a><a href="mailto:Clinton33@hotmail.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/evert-wittin" class="contact-profile w-inline-block">
																			<img alt=""
																				 src="images/1594481246438-image8.jpg"
																				 sizes="50px"
																				 srcset="images/1594481246438-image8-p-1080.jpeg 1080w, images/1594481246438-image8.jpg 1300w"
																				 class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Evert Wittin</h6>
																				<div>Webflow Design</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Active</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">Warsaw, Poland</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1144324498" class="call-contact w-inline-block"></a><a href="mailto:Evert.Witting86@hotmail.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/jody-ex" class="contact-profile w-inline-block">
																			<img alt=""
																				 src="images/1594481246658-image2.jpg"
																				 sizes="50px"
																				 srcset="images/1594481246658-image2-p-500.jpeg 500w, images/1594481246658-image2.jpg 1300w"
																				 class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Jody Ex</h6>
																				<div>Template Craft</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Pending</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">LA, USA</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1122149677" class="call-contact w-inline-block"></a><a href="mailto:Jody9@gmail.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/lucious-funk" class="contact-profile w-inline-block">
																			<img alt=""
																				 src="images/1594481246577-image13.jpg"
																				 sizes="50px"
																				 srcset="images/1594481246577-image13-p-1080.jpeg 1080w, images/1594481246577-image13.jpg 1300w"
																				 class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Lucious Funk</h6>
																				<div>OpenUI</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Inactive</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">Lisbon, Portugal</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1107795949" class="call-contact w-inline-block"></a><a href="mailto:Lucious.Funk86@yahoo.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/magnam-impedit" class="contact-profile w-inline-block">
																			<img alt="" src="images/1594481246573-image18.jpg" class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Magnam Impedit</h6>
																				<div>Startup</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Inactive</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">Tel Aviv, Israel</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1154647081" class="call-contact w-inline-block"></a><a href="mailto:Rebeca.Kozey17@yahoo.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/margret-auer" class="contact-profile w-inline-block">
																			<img alt=""
																				 src="images/1594481246577-image13.jpg"
																				 sizes="50px"
																				 srcset="images/1594481246577-image13-p-1080.jpeg 1080w, images/1594481246577-image13.jpg 1300w"
																				 class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Margret Auer</h6>
																				<div>Artstation</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Inactive</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">Moscow, Russia</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1177356681" class="call-contact w-inline-block"></a><a href="mailto:Margret_Auer91@hotmail.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/maximo-quod" class="contact-profile w-inline-block">
																			<img alt=""
																				 src="images/1594481246622-image16.jpg"
																				 sizes="50px"
																				 srcset="images/1594481246622-image16-p-500.jpeg 500w, images/1594481246622-image16.jpg 1300w"
																				 class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Maximo Quod</h6>
																				<div>Craftengine</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Pending</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">Kyiv, Ukraine</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1105698077" class="call-contact w-inline-block"></a><a href="mailto:Maximo68@gmail.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/nobis-suscipit" class="contact-profile w-inline-block">
																			<img alt=""
																				 src="images/1594481246619-image17.jpg"
																				 sizes="50px"
																				 srcset="images/1594481246619-image17-p-1080.jpeg 1080w, images/1594481246619-image17.jpg 1300w"
																				 class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Nobis Suscipit</h6>
																				<div>Dream Team</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Inactive</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">Milan, Italy</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1115093258" class="call-contact w-inline-block"></a><a href="mailto:Jakayla_Towne85@yahoo.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/sed-atque" class="contact-profile w-inline-block">
																			<img alt=""
																				 src="images/1594481246438-image8.jpg"
																				 sizes="50px"
																				 srcset="images/1594481246438-image8-p-1080.jpeg 1080w, images/1594481246438-image8.jpg 1300w"
																				 class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Sed Atqu</h6>
																				<div>Artboard</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Pending</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">Barcelona, Spain</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1179210890" class="call-contact w-inline-block"></a><a href="mailto:Adrienne_Leuschke42@gmail.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div data-w-tab="Tab 4" class="w-tab-pane w--tab-active">
									<div class="w-dyn-list">
										<div role="list" class="w-dyn-items">
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/sed-atque" class="contact-profile w-inline-block">
																			<img alt=""
																				 src="images/1594481246438-image8.jpg"
																				 sizes="50px"
																				 srcset="images/1594481246438-image8-p-1080.jpeg 1080w, images/1594481246438-image8.jpg 1300w"
																				 class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Sed Atqu</h6>
																				<div>Artboard</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Pending</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">Barcelona, Spain</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1179210890" class="call-contact w-inline-block"></a><a href="mailto:Adrienne_Leuschke42@gmail.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/nobis-suscipit" class="contact-profile w-inline-block">
																			<img alt=""
																				 src="images/1594481246619-image17.jpg"
																				 sizes="50px"
																				 srcset="images/1594481246619-image17-p-1080.jpeg 1080w, images/1594481246619-image17.jpg 1300w"
																				 class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Nobis Suscipit</h6>
																				<div>Dream Team</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Inactive</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">Milan, Italy</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1115093258" class="call-contact w-inline-block"></a><a href="mailto:Jakayla_Towne85@yahoo.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/maximo-quod" class="contact-profile w-inline-block">
																			<img alt=""
																				 src="images/1594481246622-image16.jpg"
																				 sizes="50px"
																				 srcset="images/1594481246622-image16-p-500.jpeg 500w, images/1594481246622-image16.jpg 1300w"
																				 class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Maximo Quod</h6>
																				<div>Craftengine</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Pending</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">Kyiv, Ukraine</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1105698077" class="call-contact w-inline-block"></a><a href="mailto:Maximo68@gmail.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/margret-auer" class="contact-profile w-inline-block">
																			<img alt=""
																				 src="images/1594481246577-image13.jpg"
																				 sizes="50px"
																				 srcset="images/1594481246577-image13-p-1080.jpeg 1080w, images/1594481246577-image13.jpg 1300w"
																				 class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Margret Auer</h6>
																				<div>Artstation</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Inactive</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">Moscow, Russia</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1177356681" class="call-contact w-inline-block"></a><a href="mailto:Margret_Auer91@hotmail.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/magnam-impedit" class="contact-profile w-inline-block">
																			<img alt="" src="images/1594481246573-image18.jpg" class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Magnam Impedit</h6>
																				<div>Startup</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Inactive</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">Tel Aviv, Israel</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1154647081" class="call-contact w-inline-block"></a><a href="mailto:Rebeca.Kozey17@yahoo.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/lucious-funk" class="contact-profile w-inline-block">
																			<img alt=""
																				 src="images/1594481246577-image13.jpg"
																				 sizes="50px"
																				 srcset="images/1594481246577-image13-p-1080.jpeg 1080w, images/1594481246577-image13.jpg 1300w"
																				 class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Lucious Funk</h6>
																				<div>OpenUI</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Inactive</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">Lisbon, Portugal</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1107795949" class="call-contact w-inline-block"></a><a href="mailto:Lucious.Funk86@yahoo.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/jody-ex" class="contact-profile w-inline-block">
																			<img alt=""
																				 src="images/1594481246658-image2.jpg"
																				 sizes="50px"
																				 srcset="images/1594481246658-image2-p-500.jpeg 500w, images/1594481246658-image2.jpg 1300w"
																				 class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Jody Ex</h6>
																				<div>Template Craft</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Pending</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">LA, USA</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1122149677" class="call-contact w-inline-block"></a><a href="mailto:Jody9@gmail.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/evert-wittin" class="contact-profile w-inline-block">
																			<img alt=""
																				 src="images/1594481246438-image8.jpg"
																				 sizes="50px"
																				 srcset="images/1594481246438-image8-p-1080.jpeg 1080w, images/1594481246438-image8.jpg 1300w"
																				 class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Evert Wittin</h6>
																				<div>Webflow Design</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Active</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">Warsaw, Poland</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1144324498" class="call-contact w-inline-block"></a><a href="mailto:Evert.Witting86@hotmail.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/clinton-neque" class="contact-profile w-inline-block">
																			<img alt=""
																				 src="images/1594481246620-image7.jpg"
																				 sizes="50px"
																				 srcset="images/1594481246620-image7-p-1080.jpeg 1080w, images/1594481246620-image7.jpg 1300w"
																				 class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Clinton Neque</h6>
																				<div>Enigma Inc.</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Active</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">London, England</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1178668799" class="call-contact w-inline-block"></a><a href="mailto:Clinton33@hotmail.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/charles-bode" class="contact-profile w-inline-block">
																			<img alt="" src="images/1594481246543-image19.jpg" class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Charles Bode</h6>
																				<div>SendBox</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Pending</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">NY, USA</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1133290016" class="call-contact w-inline-block"></a><a href="mailto:Charles_Bode82@gmail.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div data-w-tab="Tab 5" class="w-tab-pane">
									<div class="w-dyn-list">
										<div role="list" class="w-dyn-items">
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/nobis-suscipit" class="contact-profile w-inline-block">
																			<img alt=""
																				 src="images/1594481246619-image17.jpg"
																				 sizes="50px"
																				 srcset="images/1594481246619-image17-p-1080.jpeg 1080w, images/1594481246619-image17.jpg 1300w"
																				 class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Nobis Suscipit</h6>
																				<div>Dream Team</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Inactive</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">Milan, Italy</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1115093258" class="call-contact w-inline-block"></a><a href="mailto:Jakayla_Towne85@yahoo.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/sed-atque" class="contact-profile w-inline-block">
																			<img alt=""
																				 src="images/1594481246438-image8.jpg"
																				 sizes="50px"
																				 srcset="images/1594481246438-image8-p-1080.jpeg 1080w, images/1594481246438-image8.jpg 1300w"
																				 class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Sed Atqu</h6>
																				<div>Artboard</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Pending</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">Barcelona, Spain</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1179210890" class="call-contact w-inline-block"></a><a href="mailto:Adrienne_Leuschke42@gmail.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/clinton-neque" class="contact-profile w-inline-block">
																			<img alt=""
																				 src="images/1594481246620-image7.jpg"
																				 sizes="50px"
																				 srcset="images/1594481246620-image7-p-1080.jpeg 1080w, images/1594481246620-image7.jpg 1300w"
																				 class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Clinton Neque</h6>
																				<div>Enigma Inc.</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Active</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">London, England</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1178668799" class="call-contact w-inline-block"></a><a href="mailto:Clinton33@hotmail.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/charles-bode" class="contact-profile w-inline-block">
																			<img alt="" src="images/1594481246543-image19.jpg" class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Charles Bode</h6>
																				<div>SendBox</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Pending</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">NY, USA</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1133290016" class="call-contact w-inline-block"></a><a href="mailto:Charles_Bode82@gmail.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/maximo-quod" class="contact-profile w-inline-block">
																			<img alt=""
																				 src="images/1594481246622-image16.jpg"
																				 sizes="50px"
																				 srcset="images/1594481246622-image16-p-500.jpeg 500w, images/1594481246622-image16.jpg 1300w"
																				 class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Maximo Quod</h6>
																				<div>Craftengine</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Pending</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">Kyiv, Ukraine</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1105698077" class="call-contact w-inline-block"></a><a href="mailto:Maximo68@gmail.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/evert-wittin" class="contact-profile w-inline-block">
																			<img alt=""
																				 src="images/1594481246438-image8.jpg"
																				 sizes="50px"
																				 srcset="images/1594481246438-image8-p-1080.jpeg 1080w, images/1594481246438-image8.jpg 1300w"
																				 class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Evert Wittin</h6>
																				<div>Webflow Design</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Active</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">Warsaw, Poland</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1144324498" class="call-contact w-inline-block"></a><a href="mailto:Evert.Witting86@hotmail.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/jody-ex" class="contact-profile w-inline-block">
																			<img alt=""
																				 src="images/1594481246658-image2.jpg"
																				 sizes="50px"
																				 srcset="images/1594481246658-image2-p-500.jpeg 500w, images/1594481246658-image2.jpg 1300w"
																				 class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Jody Ex</h6>
																				<div>Template Craft</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Pending</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">LA, USA</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1122149677" class="call-contact w-inline-block"></a><a href="mailto:Jody9@gmail.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/margret-auer" class="contact-profile w-inline-block">
																			<img alt=""
																				 src="images/1594481246577-image13.jpg"
																				 sizes="50px"
																				 srcset="images/1594481246577-image13-p-1080.jpeg 1080w, images/1594481246577-image13.jpg 1300w"
																				 class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Margret Auer</h6>
																				<div>Artstation</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Inactive</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">Moscow, Russia</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1177356681" class="call-contact w-inline-block"></a><a href="mailto:Margret_Auer91@hotmail.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/lucious-funk" class="contact-profile w-inline-block">
																			<img alt=""
																				 src="images/1594481246577-image13.jpg"
																				 sizes="50px"
																				 srcset="images/1594481246577-image13-p-1080.jpeg 1080w, images/1594481246577-image13.jpg 1300w"
																				 class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Lucious Funk</h6>
																				<div>OpenUI</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Inactive</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">Lisbon, Portugal</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1107795949" class="call-contact w-inline-block"></a><a href="mailto:Lucious.Funk86@yahoo.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/magnam-impedit" class="contact-profile w-inline-block">
																			<img alt="" src="images/1594481246573-image18.jpg" class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Magnam Impedit</h6>
																				<div>Startup</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Inactive</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">Tel Aviv, Israel</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1154647081" class="call-contact w-inline-block"></a><a href="mailto:Rebeca.Kozey17@yahoo.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div data-w-tab="Tab 6" class="w-tab-pane">
									<div class="w-dyn-list">
										<div role="list" class="w-dyn-items">
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/magnam-impedit" class="contact-profile w-inline-block">
																			<img alt="" src="images/1594481246573-image18.jpg" class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Magnam Impedit</h6>
																				<div>Startup</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Inactive</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">Tel Aviv, Israel</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1154647081" class="call-contact w-inline-block"></a><a href="mailto:Rebeca.Kozey17@yahoo.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/lucious-funk" class="contact-profile w-inline-block">
																			<img alt=""
																				 src="images/1594481246577-image13.jpg"
																				 sizes="50px"
																				 srcset="images/1594481246577-image13-p-1080.jpeg 1080w, images/1594481246577-image13.jpg 1300w"
																				 class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Lucious Funk</h6>
																				<div>OpenUI</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Inactive</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">Lisbon, Portugal</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1107795949" class="call-contact w-inline-block"></a><a href="mailto:Lucious.Funk86@yahoo.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/margret-auer" class="contact-profile w-inline-block">
																			<img alt=""
																				 src="images/1594481246577-image13.jpg"
																				 sizes="50px"
																				 srcset="images/1594481246577-image13-p-1080.jpeg 1080w, images/1594481246577-image13.jpg 1300w"
																				 class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Margret Auer</h6>
																				<div>Artstation</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Inactive</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">Moscow, Russia</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1177356681" class="call-contact w-inline-block"></a><a href="mailto:Margret_Auer91@hotmail.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/jody-ex" class="contact-profile w-inline-block">
																			<img alt=""
																				 src="images/1594481246658-image2.jpg"
																				 sizes="50px"
																				 srcset="images/1594481246658-image2-p-500.jpeg 500w, images/1594481246658-image2.jpg 1300w"
																				 class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Jody Ex</h6>
																				<div>Template Craft</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Pending</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">LA, USA</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1122149677" class="call-contact w-inline-block"></a><a href="mailto:Jody9@gmail.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/evert-wittin" class="contact-profile w-inline-block">
																			<img alt=""
																				 src="images/1594481246438-image8.jpg"
																				 sizes="50px"
																				 srcset="images/1594481246438-image8-p-1080.jpeg 1080w, images/1594481246438-image8.jpg 1300w"
																				 class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Evert Wittin</h6>
																				<div>Webflow Design</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Active</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">Warsaw, Poland</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1144324498" class="call-contact w-inline-block"></a><a href="mailto:Evert.Witting86@hotmail.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/maximo-quod" class="contact-profile w-inline-block">
																			<img alt=""
																				 src="images/1594481246622-image16.jpg"
																				 sizes="50px"
																				 srcset="images/1594481246622-image16-p-500.jpeg 500w, images/1594481246622-image16.jpg 1300w"
																				 class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Maximo Quod</h6>
																				<div>Craftengine</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Pending</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">Kyiv, Ukraine</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1105698077" class="call-contact w-inline-block"></a><a href="mailto:Maximo68@gmail.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/charles-bode" class="contact-profile w-inline-block">
																			<img alt="" src="images/1594481246543-image19.jpg" class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Charles Bode</h6>
																				<div>SendBox</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Pending</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">NY, USA</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1133290016" class="call-contact w-inline-block"></a><a href="mailto:Charles_Bode82@gmail.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/clinton-neque" class="contact-profile w-inline-block">
																			<img alt=""
																				 src="images/1594481246620-image7.jpg"
																				 sizes="50px"
																				 srcset="images/1594481246620-image7-p-1080.jpeg 1080w, images/1594481246620-image7.jpg 1300w"
																				 class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Clinton Neque</h6>
																				<div>Enigma Inc.</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Active</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">London, England</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1178668799" class="call-contact w-inline-block"></a><a href="mailto:Clinton33@hotmail.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/sed-atque" class="contact-profile w-inline-block">
																			<img alt=""
																				 src="images/1594481246438-image8.jpg"
																				 sizes="50px"
																				 srcset="images/1594481246438-image8-p-1080.jpeg 1080w, images/1594481246438-image8.jpg 1300w"
																				 class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Sed Atqu</h6>
																				<div>Artboard</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Pending</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">Barcelona, Spain</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1179210890" class="call-contact w-inline-block"></a><a href="mailto:Adrienne_Leuschke42@gmail.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div role="listitem" class="w-dyn-item">
												<div class="section-inner">
													<div class="card">
														<div class="table-wrapper">
															<div class="table extra-wide single">
																<div class="row table-row flex-center single-row w-row">
																	<div class="col table-col left-padding w-col w-col-4">
																		<a href="/contacts/nobis-suscipit" class="contact-profile w-inline-block">
																			<img alt=""
																				 src="images/1594481246619-image17.jpg"
																				 sizes="50px"
																				 srcset="images/1594481246619-image17-p-1080.jpeg 1080w, images/1594481246619-image17.jpg 1300w"
																				 class="contacts-avatar" />
																			<div class="contact-profile-info">
																				<h6 class="mb-0">Nobis Suscipit</h6>
																				<div>Dream Team</div>
																			</div>
																		</a>
																	</div>
																	<div class="col table-col w-col w-col-2"><div class="label-item">Inactive</div></div>
																	<div class="col table-col w-col w-col-2"><h6 class="mb-0">Milan, Italy</h6></div>
																	<div class="col table-col w-col w-col-2"><div class="status green">July 11, 2020</div></div>
																	<div class="col table-col w-col w-col-2">
																		<div class="contact-actions">
																			<a href="tel:+1115093258" class="call-contact w-inline-block"></a><a href="mailto:Jakayla_Towne85@yahoo.com" class="message-contact w-inline-block"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="footer">
						<div class="w-row">
							<div class="w-col w-col-6"><div class="hint">© Copyright Artboard. All rights reserved</div></div>
							<div class="footer-right w-col w-col-6">
								<div class="hint"><a href="https://webflow.com/" class="footer-link">Powered by Webflow</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
