
<div class="main-wrapper">

	<div class="section-hero">
		<div class="padding-global">
			<div class="container-large">
				<div data-w-id="4ea79266-a2c2-265c-eb55-d9c1aa762704" class="hero-component">
					<div class="hero-line-wrapper">
						<div data-w-id="cf373379-a2d8-b6c8-8dc0-10e1c768c77c" style="-webkit-transform:translate3d(0, -770px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -770px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -770px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -770px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="hero-line"></div>
					</div>
					<div class="hero-line-wrapper _2nd">
						<div data-w-id="ea2faa47-7932-2f82-51c1-4f2066401426" style="-webkit-transform:translate3d(0, -770px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -770px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -770px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -770px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="hero-line _2nd"></div>
					</div>
					<div class="hero-line-wrapper _3rd">
						<div data-w-id="179311fa-58d5-7f8f-1062-d58b76ebf33e" style="-webkit-transform:translate3d(0, -770px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -770px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -770px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -770px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="hero-line"></div>
					</div>
					<div class="hero-line-wrapper _4th">
						<div data-w-id="3cabb172-bd46-fe28-7c6b-ad594c4ac76b" style="-webkit-transform:translate3d(0, -770px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -770px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -770px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -770px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="hero-line _2nd"></div>
					</div>
					<div style="opacity:0;-webkit-transform:translate3d(0, -80px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -80px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -80px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -80px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="hero-top-content-wrapper">
						<div class="hero-top-content">
							<h1 class="heading-style-h1">Unlock Your Business Potential with Innovative <span class="text-color-orange">CRM</span></h1>
							<div class="max-width-medium">
								<p class="text-size-regular">Join thousands of satisfied users who have transformed their workflows and maximized their potential with FluxCRM</p>
							</div>
						</div>
						<div class="padding-bottom padding-small"></div>
						<div class="hero-button-row">
							<a href="/contact" class="button w-inline-block">
								<div>Get Started</div>
							</a>
							<a href="/contact" class="button is-secondary w-inline-block">
								<div>Contact Us</div>
							</a>
						</div>
					</div>
					<div class="padding-bottom padding-large"></div>
					<div style="-webkit-transform:translate3d(0, 80px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 80px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 80px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 80px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="hero-bottom-content-wrapper">
						<div class="hero-image-wrapper"><img src="~/images/hero-20bg.png" loading="lazy" sizes="(max-width: 767px) 90vw, (max-width: 991px) 91vw, 1020px" srcset="images/hero-20bg-p-500.png 500w, images/hero-20bg-p-800.png 800w, images/hero-20bg-p-1080.png 1080w, images/hero-20bg-p-1600.png 1600w, images/hero-20bg-p-2000.png 2000w, images/hero-20bg-p-2600.png 2600w, images/hero-20bg.png 3060w" alt="" class="hero-image" /></div>
						<div class="hero-bottom-content">
							<div class="hero-content">
								<div class="hero-image-wrapper _1st"><img src="~/images/hero-20image-203.png" loading="lazy" sizes="(max-width: 479px) 48.0703125px, (max-width: 767px) 96.1484375px, (max-width: 991px) 128.1953125px, 215.328125px" srcset="images/hero-20image-203-p-500.png 500w, images/hero-20image-203.png 647w" alt="" class="hero-image" /></div>
								<div class="hero-image-wrapper _2nd"><img src="~/images/hero-20image-204.png" loading="lazy" sizes="(max-width: 479px) 48.0703125px, (max-width: 767px) 96.1484375px, (max-width: 991px) 128.1953125px, 215.328125px" srcset="images/hero-20image-204-p-500.png 500w, images/hero-20image-204.png 647w" alt="" class="hero-image" /></div>
								<div class="hero-image-wrapper _3rd"><img src="~/images/hero-20image-205.png" loading="lazy" sizes="(max-width: 479px) 48.0703125px, (max-width: 767px) 96.1484375px, (max-width: 991px) 128.1953125px, 215.328125px" srcset="images/hero-20image-205-p-500.png 500w, images/hero-20image-205.png 647w" alt="" class="hero-image" /></div>
							</div>
							<div class="hero-content">
								<div class="hero-image-wrapper _4th"><img src="~/images/hero-20image-206.png" loading="lazy" sizes="(max-width: 479px) 113.015625px, (max-width: 767px) 203.1953125px, (max-width: 991px) 304px, 451.078125px" srcset="images/hero-20image-206-p-500.png 500w, images/hero-20image-206-p-800.png 800w, images/hero-20image-206-p-1080.png 1080w, images/hero-20image-206.png 1354w" alt="" class="hero-image" /></div>
								<div class="hero-image-wrapper _5th"><img src="~/images/hero-20image-207.png" loading="lazy" sizes="(max-width: 479px) 53.75px, (max-width: 767px) 107.1953125px, (max-width: 991px) 128px, 214.328125px" srcset="images/hero-20image-207-p-500.png 500w, images/hero-20image-207.png 644w" alt="" class="hero-image" /></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>




	<div class="section-brand">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-medium">
					<div class="brand-component">
						<div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="brand-icon-wrapper"><img src="~/images/brand-20logo-205.svg" loading="lazy" alt="" class="brand-icon" /></div>
						<div id="w-node-ffdc4fdb-0da7-5912-7b2e-7fc3e7732b6a-1e0ecad8" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="brand-icon-wrapper"><img src="~/images/brand-20logo-204.svg" loading="lazy" alt="" class="brand-icon" /></div>
						<div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="brand-icon-wrapper"><img src="~/images/brand-20logo-203.svg" loading="lazy" alt="" class="brand-icon" /></div>
						<div id="w-node-e84cee66-58ec-c683-5c12-41bfc4ed2273-1e0ecad8" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="brand-icon-wrapper"><img src="~/images/brand-20logo-202.svg" loading="lazy" alt="" class="brand-icon" /></div>
						<div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="brand-icon-wrapper"><img src="~/images/brand-20logo-201.svg" loading="lazy" alt="" class="brand-icon" /></div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div class="section-feature">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-medium">
					<div class="feature-component">
						<div data-w-id="4299191e-3d0b-3169-e333-caa28e3f0f47" style="opacity:0" class="feature-top-content-wrapper">
							<div class="feature-top-left-content">
								<h2 class="heading-style-h2">Explore Advanced Tools for Streamlined Business Success</h2>
							</div>
							<a href="#" class="button w-inline-block">
								<div>Browse all feature</div>
							</a>
						</div>
						<div class="padding-bottom padding-large"></div>
						<div data-w-id="35162c4a-8967-71bc-75a8-da8bb6375b6a" style="opacity:0" class="feature-card-wrapper">
							<div class="featurer-card-top-content-wrapper">
								<div data-w-id="f1f5bf74-491d-d52c-8256-73832f4c9a11" class="feature-card _01">
									<div class="feature-card-content-wrapper">
										<div class="feature-card-top-content">
											<img src="~/images/feature-2001.svg" loading="lazy" alt="" class="feature-icon" />
											<h6 class="heading-style-h6">Real-Time Analytics</h6>
										</div>
										<p class="text-size-regular">Euismod tempor facilisis cum ut morbi leo consequ.</p>
									</div>
									<div class="feature-image-wrapper"><img src="~/images/feature-20001.png" loading="lazy" sizes="(max-width: 479px) 86vw, (max-width: 767px) 87vw, (max-width: 991px) 62vw, 229.53125px" srcset="images/feature-20001-p-500.png 500w, images/feature-20001-p-800.png 800w, images/feature-20001.png 820w" alt="" class="feature-image" /></div>
								</div>
								<div data-w-id="d8ded015-ba65-7986-fb7d-613430d79030" class="feature-card _02">
									<div class="feature-card-content-wrapper">
										<div class="feature-card-top-content">
											<img src="~/images/feature-2002.svg" loading="lazy" alt="" class="feature-icon" />
											<h6 class="heading-style-h6">Contact Data Management</h6>
										</div>
										<p class="text-size-regular">Egestas nisi pellentesque ut magna purus volutpat eu. Sed dignissim sed faucibu.</p>
									</div>
									<div class="feature-image-wrapper"><img src="~/images/feature-20002.png" loading="lazy" sizes="(max-width: 479px) 86vw, (max-width: 767px) 87vw, (max-width: 991px) 60vw, 263.0625px" srcset="images/feature-20002-p-500.png 500w, images/feature-20002-p-800.png 800w, images/feature-20002.png 820w" alt="" class="feature-image" /></div>
								</div>
							</div>
							<div class="feature-bottom-content">
								<div data-w-id="97222353-3ce0-4441-e195-6cdeebe60c1c" class="feature-card _03">
									<div class="feature-card-content-wrapper">
										<div class="feature-card-top-content">
											<img src="~/images/feature-2004.svg" loading="lazy" alt="" class="feature-icon" />
											<h6 class="heading-style-h6">Event based alert &amp; notification</h6>
										</div>
										<p class="text-size-regular">Dictum luctus lacus vivamus mauris nibh gravida sapien amet rhoncus.</p>
									</div>
									<div class="feature-image-wrapper"><img src="~/images/frame-20427319429.png" loading="lazy" alt="" class="feature-image" /></div>
								</div>
								<div data-w-id="66f414b2-59db-af14-dbb6-001daad80209" class="feature-card _04">
									<div class="feature-card-content-wrapper">
										<div class="feature-card-top-content">
											<img src="~/images/feature-2003.svg" loading="lazy" alt="" class="feature-icon" />
											<h6 class="heading-style-h6">Multiple Device Access</h6>
										</div>
										<p class="text-size-regular">Fermentum lorem cum quis sed integer in. Eu placerat purus morbi nullam.</p>
									</div>
									<div class="feature-image-wrapper"><img src="~/images/feature-200041.png" loading="lazy" sizes="(max-width: 479px) 86vw, (max-width: 767px) 87vw, (max-width: 991px) 63vw, 239.796875px" srcset="images/feature-200041-p-500.png 500w, images/feature-200041-p-800.png 800w, images/feature-200041.png 812w" alt="" class="feature-image" /></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>




	<div data-w-id="f8dbdf0c-5f20-f646-b712-5d2cf6791e38" class="section-process">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-medium">
					<div class="process-component">
						<div data-w-id="14c6d66f-40f9-3395-223d-abc33e8f80eb" style="opacity:0" class="process-top-content-wrapper">
							<h2 class="heading-style-h2">Guided process to enhance relationships.</h2>
						</div>
						<div class="padding-bottom padding-large"></div>
						<div class="process-bottom-content-wrapper">
							<div class="process-left-content-wrapper">
								<div class="process-left-content">
									<a href="#" class="process-logo-wrapper w-inline-block">
										<img src="~/images/process-20icon.svg" loading="lazy" alt="" />
										<h5 class="heading-style-h5">FluxCRM</h5>
										<h6 class="heading-style-h6 text-color-white-600">v.01</h6>
									</a>
									<h6 class="heading-style-h6">Quick &amp; Easy process</h6>
								</div>
								<div class="process-item-wrapper">
									<div class="process-item">
										<div data-w-id="58c140f7-d39c-d97f-cb4f-3c1e7acdce17" class="process-dot"></div>
										<div data-w-id="7743e455-8239-4b23-cc37-488f2078b67b" class="text-size-regular text-color-gray-600">Contact &amp; data management</div>
									</div>
									<div class="process-item">
										<div data-w-id="d8434a95-a332-ed73-94f5-ecb0b287e405" class="process-dot"></div>
										<div data-w-id="d8434a95-a332-ed73-94f5-ecb0b287e406" class="text-size-regular text-color-gray-600">Sales pipeline tracking</div>
									</div>
									<div class="process-item">
										<div data-w-id="5eb4629f-a4bf-d362-62b1-74dfe4a21a88" class="process-dot"></div>
										<div data-w-id="5eb4629f-a4bf-d362-62b1-74dfe4a21a89" class="text-size-regular text-color-gray-600">Task automation tools</div>
									</div>
									<div class="process-item">
										<div data-w-id="7e450ece-6162-b6b7-12ee-af4643de7a3a" class="process-dot"></div>
										<div data-w-id="7e450ece-6162-b6b7-12ee-af4643de7a3b" class="text-size-regular text-color-gray-600">Real time analytics</div>
									</div>
									<div class="process-line">
										<div class="process-inner-line"></div>
									</div>
								</div>
								<div class="process-left-bottom-content">
									<div>No, </div>
									<div class="process-number-wrapper">
										<div class="process-number">1</div>
										<div class="process-number">2 </div>
										<div class="process-number">3</div>
										<div class="process-number">4</div>
									</div>
									<div> out of 4</div>
								</div>
							</div>
							<div class="process-right-content-wrapper">
								<div class="process-card">
									<div class="process-card-number">
										<h4 class="heading-style-h4 text-color-light-blue">1</h4>
									</div>
									<div class="process-card-content">
										<h6 class="heading-style-h6">Contact Data Management</h6>
										<p class="text-size-regular">Molestie tristique viverra morbi feugiat. Ac non id amet ullamcorper est natoque vitae.</p>
									</div>
								</div>
								<div class="process-card">
									<div class="process-card-number">
										<h4 class="heading-style-h4 text-color-light-blue">2</h4>
									</div>
									<div class="process-card-content">
										<h6 class="heading-style-h6">Sales Pipeline Tracking</h6>
										<p class="text-size-regular">Commodo varius nunc sed tristique tristique lorem viverra a at. Leo ut donec amet nisl commodo in id id.</p>
									</div>
								</div>
								<div class="process-card">
									<div class="process-card-number">
										<h4 class="heading-style-h4 text-color-light-blue">3</h4>
									</div>
									<div class="process-card-content">
										<h6 class="heading-style-h6">Task Automation Tools</h6>
										<p class="text-size-regular">Aliquet elit gravida amet ultrices ut. Ut praesent duis duis sit amet iaculis rhoncus tincidunt dui.</p>
									</div>
								</div>
								<div class="process-card">
									<div class="process-card-number">
										<h4 class="heading-style-h4 text-color-light-blue">4</h4>
									</div>
									<div class="process-card-content">
										<h6 class="heading-style-h6">Real-Time Analytics</h6>
										<p class="text-size-regular">Sed molestie dolor volutpat et massa dignissim mauris proin. Ac aliquet ut tortor feugiat.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div class="section-feature v4">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-medium">
					<div class="feature-component v4">
						<div data-w-id="cba34e5f-9d13-dca5-58b2-61d818243b6a" style="opacity:0" class="feature-top-content v4">
							<h2 class="heading-style-h2">Next-Gen Tools for Streamlined Operations</h2>
						</div>
						<div class="padding-bottom padding-large"></div>
						<div class="feature-card-wrapper v4">
							<div data-w-id="60360b48-db52-dcdd-4f3d-9969a3b06cdd" style="opacity:0" class="feature-card-left-content">
								<div class="feature-card-top-content v4">
									<h5 class="heading-style-h5">Sales conversion tracking</h5>
									<div class="text-size-regular">Sapien gravida quis fringilla eget dictumst orci consequat. Parturien</div>
								</div>
								<div class="feature-card-image-wrapper"><img src="~/images/0.png" loading="lazy" sizes="(max-width: 479px) 86vw, (max-width: 767px) 87vw, (max-width: 991px) 88vw, 47vw" srcset="images/0-p-500.png 500w, images/0-p-800.png 800w, images/0-p-1080.png 1080w, images/0-p-1600.png 1600w, images/0.png 1890w" alt="" class="feature-image" /></div>
							</div>
							<div data-w-id="3abdef7d-d1f3-c969-d93b-8ca641e46255" style="opacity:0" class="feature-right-card-wrapper">
								<div class="feature-right-card">
									<img src="~/images/vector.svg" loading="lazy" alt="" class="feature-icon" />
									<div class="feature-right-card-content-wrapper">
										<h5 class="heading-style-h5">Customer Profile Insights</h5>
										<p class="text-size-regular">Fusce proin ut massa tristique in eget. Enim risus viverra lorem non sed dictum quis.</p>
									</div>
								</div>
								<div class="feature-right-card">
									<img src="~/images/icon.svg" loading="lazy" alt="" class="feature-icon" />
									<div class="feature-right-card-content-wrapper">
										<h5 class="heading-style-h5">Lead Nurturing Automation</h5>
										<p class="text-size-regular">Nunc amet proin pellentesque elit. Vel non lacus sed id quis mauris vestibulum adipiscing.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="section-number">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-medium">
					<div class="number-component">
						<div class="number-left-content-wrapper">
							<h2 class="heading-style-h2">Our proven success with real time numbers</h2>
							<div class="number-left-content">
								<p class="text-size-regular">Dolor neque purus etiam aliquam viverra purus amet. Pharetra auctor turpis odio at felis et.</p>
							</div>
						</div>
						<div class="number-right-content-wrapper">
							<div class="number-right-content">
								<div class="number-item">
									<h4 class="heading-style-h4">50,000+</h4>
									<div class="text-size-regular">Employees Managed</div>
								</div>
								<div class="number-item">
									<h4 class="heading-style-h4">10,000+</h4>
									<div class="text-size-regular">Active Users Worldwide</div>
								</div>
							</div>
							<div class="number-right-content">
								<div class="number-item">
									<h4 class="heading-style-h4">98%</h4>
									<div class="text-size-regular">Customer Satisfaction Rate</div>
								</div>
								<div class="number-item">
									<h4 class="heading-style-h4">99.9%</h4>
									<div class="text-size-regular">System Uptime Guarantee</div>
								</div>
							</div>
							<div class="number-bg-wrapper">
								<div class="number-bg">
									<div class="number-line-wrapper">
										<div style="-webkit-transform:translate3d(null, -369px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, -369px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, -369px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, -369px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="number-line _1st"></div>
									</div>
									<div class="number-line-wrapper _2nd">
										<div style="-webkit-transform:translate3d(-500px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-500px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-500px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-500px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="number-line _2nd"></div>
									</div>
									<div class="number-icon-wrapper"><img src="~/images/fi_4457370.svg" loading="lazy" alt="" class="number-icon" /></div>
									<div class="number-overly"></div>
									<div class="number-overly _2nd"></div>
									<div class="number-overly _3rd"></div>
									<div class="number-overly _4th"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="section-feature v2">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-medium">
					<div class="feature-component v2">
						<div class="feature-top-content-wrapper v2">
							<h2 class="heading-style-h2">Additional Tools to Boost Your Performance</h2>
						</div>
						<div class="padding-bottom padding-large"></div>
						<div class="w-layout-grid feature-grid">
							<div id="w-node-d47910dd-b8ff-0165-a0fe-b42049c9fdfb-1e0ecad8" class="feature-card v2">
								<h6 class="heading-style-h6">Advanced Search Tools</h6>
								<div class="feature-image-wrapper v2"><img src="~/images/feature-20icon-204.png" loading="lazy" sizes="160px" srcset="images/feature-20icon-204-p-500.png 500w, images/feature-20icon-204.png 640w" alt="" class="feature-image" /></div>
								<div class="text-size-regular">Mauris dictum dignissim convallis fringilla ac a.</div>
							</div>
							<div id="w-node-ba735189-aaa4-8f6d-bd9d-1ae331f2cdbc-1e0ecad8" class="feature-card v2">
								<h6 class="heading-style-h6">Team Collaboration Hub</h6>
								<div class="feature-image-wrapper v2"><img src="~/images/feature-20icon-203.png" loading="lazy" sizes="160px" srcset="images/feature-20icon-203-p-500.png 500w, images/feature-20icon-203.png 640w" alt="" class="feature-image" /></div>
								<div class="text-size-regular">Aenean pellentesque proin nunc adipisci.</div>
							</div>
							<div id="w-node-_43f426c3-73d8-3b3a-076c-48b2325c4752-1e0ecad8" class="feature-card v2">
								<h6 class="heading-style-h6">24/7 Customer Support</h6>
								<div class="feature-image-wrapper v2"><img src="~/images/feature-20icon-202.png" loading="lazy" sizes="160px" srcset="images/feature-20icon-202-p-500.png 500w, images/feature-20icon-202.png 640w" alt="" class="feature-image" /></div>
								<div class="text-size-regular">Vestibulum pellentesque malesuada netus mi sed.</div>
							</div>
							<div id="w-node-a1945a4e-4845-6e8a-ae79-963b58319980-1e0ecad8" class="feature-card v2">
								<h6 class="heading-style-h6">Task Automation Engine</h6>
								<div class="feature-image-wrapper v2"><img src="~/images/feature-20icon-201.png" loading="lazy" sizes="160px" srcset="images/feature-20icon-201-p-500.png 500w, images/feature-20icon-201.png 640w" alt="" class="feature-image" /></div>
								<div class="text-size-regular">Morbi parturient diam nunc integer.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-testimonial">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-medium">
					<div class="testimonial-component">
						<div class="testimonial-top-content-wrapper">
							<h2 class="heading-style-h2">Client experiences that inspire confidence</h2>
						</div>
						<div class="padding-bottom padding-large"></div>
						<div data-delay="4000" data-animation="slide" class="testimonial-slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
							<div class="testimonial-mask w-slider-mask">
								<div class="testimonial-slide w-slide">
									<div class="testimonial-contet-wrapper">
										<div class="testimonial-left-content-wrapper">
											<div class="testimonial-star-wrapper"><img src="~/images/star-20icon.svg" loading="lazy" alt="" class="testimonial-star" /><img src="~/images/star-20icon.svg" loading="lazy" alt="" class="testimonial-star" /><img src="~/images/star-20icon.svg" loading="lazy" alt="" class="testimonial-star" /><img src="~/images/star-20icon.svg" loading="lazy" alt="" class="testimonial-star" /><img src="~/images/star-20icon.svg" loading="lazy" alt="" class="testimonial-star" /></div>
											<div class="padding-bottom padding-small"></div>
											<h5 class="heading-style-h5">The automation features have saved us countless hours. We can now focus on strategy instead of repetitive tasks. Highly recommend! Our campaigns have become more effective, and we can easily track ROI.</h5>
											<div class="padding-bottom padding-medium"></div>
											<div class="testimonial-left-content">
												<h6 class="heading-style-h6">Iris Lemke-</h6>
												<div class="text-size-regular">CEO at Considine</div>
											</div>
										</div>
										<div class="testimonial-image-wrapper"><img src="~/images/testimonail-20image-201.webp" loading="lazy" sizes="(max-width: 767px) 93vw, (max-width: 991px) 94vw, 428px" srcset="images/testimonail-20image-201-p-500.webp 500w, images/testimonail-20image-201.webp 860w" alt="" class="testimonial-image" /></div>
									</div>
								</div>
								<div class="testimonial-slide w-slide">
									<div class="testimonial-contet-wrapper">
										<div class="testimonial-left-content-wrapper">
											<div class="testimonial-star-wrapper"><img src="~/images/star-20icon.svg" loading="lazy" alt="" class="testimonial-star" /><img src="~/images/star-20icon.svg" loading="lazy" alt="" class="testimonial-star" /><img src="~/images/star-20icon.svg" loading="lazy" alt="" class="testimonial-star" /><img src="~/images/star-20icon.svg" loading="lazy" alt="" class="testimonial-star" /><img src="~/images/star-20icon.svg" loading="lazy" alt="" class="testimonial-star" /></div>
											<div class="padding-bottom padding-small"></div>
											<h5 class="heading-style-h5">This CRM has transformed our sales process! Our team&#x27;s productivity has skyrocketed, and we’ve closed more deals than ever before. The intuitive interface made onboarding a breeze, and the support team is always available when we need help.</h5>
											<div class="padding-bottom padding-medium"></div>
											<div class="testimonial-left-content">
												<h6 class="heading-style-h6">Johnathan Doe -</h6>
												<div class="text-size-regular">CEO at Jenkins</div>
											</div>
										</div>
										<div class="testimonial-image-wrapper">
											<img src="~/images/testimonail-20image-203.webp" loading="lazy" sizes="(max-width: 767px) 93vw, (max-width: 991px) 94vw, 428px" srcset="~/




images/testimonail-20image-203-p-500.webp 500w, images/testimonail-20image-203-p-800.webp 800w, images/testimonail-20image-203.webp 860w" alt="" class="testimonial-image" />
										</div>
									</div>
								</div>
								<div class="testimonial-slide w-slide">
									<div class="testimonial-contet-wrapper">
										<div class="testimonial-left-content-wrapper">
											<div class="testimonial-star-wrapper"><img src="~/images/star-20icon.svg" loading="lazy" alt="" class="testimonial-star" /><img src="~/images/star-20icon.svg" loading="lazy" alt="" class="testimonial-star" /><img src="~/images/star-20icon.svg" loading="lazy" alt="" class="testimonial-star" /><img src="~/images/star-20icon.svg" loading="lazy" alt="" class="testimonial-star" /><img src="~/images/star-20icon.svg" loading="lazy" alt="" class="testimonial-star" /></div>
											<div class="padding-bottom padding-small"></div>
											<h5 class="heading-style-h5">I love how intuitive the platform is. The integration with our existing tools was seamless, and the support team is fantastic! We&#x27;ve seen a notable increase in customer retention since we started using this CRM</h5>
											<div class="padding-bottom padding-medium"></div>
											<div class="testimonial-left-content">
												<h6 class="heading-style-h6">Marlon Towne -</h6>
												<div class="text-size-regular">CEO at Connelly</div>
											</div>
										</div>
										<div class="testimonial-image-wrapper"><img src="~/images/testimonail-20image-202.webp" loading="lazy" sizes="(max-width: 767px) 93vw, (max-width: 991px) 94vw, 428px" srcset="images/testimonail-20image-202-p-500.webp 500w, images/testimonail-20image-202.webp 860w" alt="" class="testimonial-image" /></div>
									</div>
								</div>
							</div>
							<div data-w-id="f90c5dbf-3fe5-5312-45aa-b1bbea2bae82" class="testimonial-arrow w-slider-arrow-left"><img src="~/images/number.svg" loading="lazy" alt="" /></div>
							<div data-w-id="f90c5dbf-3fe5-5312-45aa-b1bbea2bae84" class="testimonial-arrow right w-slider-arrow-right"><img src="~/images/arrow.svg" loading="lazy" alt="" /></div>
							<div class="testimonial-slide-nav w-slider-nav w-round w-num"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section-price">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-medium">
					<div class="price-component">
						<div class="price-top-content-wrapper">
							<h2 class="heading-style-h2">Affordable plans for every business</h2>
						</div>
						<div class="padding-bottom padding-large"></div>
						<div class="w-layout-grid price-grid">
							<div id="w-node-b3c4affe-26c6-e72b-713b-2da904c701a0-1e0ecad8" class="price-card">
								<div class="price-card-left-content-wrapper">
									<h4 class="heading-style-h4">Standard plan</h4>
									<div class="price-card-left-content">
										<ul role="list" class="price-list">
											<li class="price-list-item">
												<div class="text-size-regular is-white-200">Contact Management</div>
											</li>
											<li class="price-list-item">
												<div class="text-size-regular is-white-200">Sales Pipeline Tracking</div>
											</li>
										</ul>
										<ul role="list" class="price-list">
											<li class="price-list-item">
												<div class="text-size-regular is-white-200">Email Integration</div>
											</li>
											<li class="price-list-item">
												<div class="text-size-regular is-white-200">Basic Reporting</div>
											</li>
										</ul>
									</div>
								</div>
								<div class="price-card-content-wrapper">
									<div class="price-card-content">
										<h3 class="heading-style-h3">$99/<span class="text-size-regular is-white-200">Per month</span></h3>
										<div class="text-size-regular">Mostly for startups</div>
									</div>
									<a href="https://fluxcrm.webflow.io/product/standard-plan" class="button w-inline-block">
										<div>Get started now</div>
									</a>
								</div>
							</div>
							<div id="w-node-_73de63a7-3872-844f-952f-59a2af2fc257-1e0ecad8" class="price-card _2nd">
								<h4 class="heading-style-h4">Professional Plan</h4>
								<div class="padding-bottom padding-small"></div>
								<div class="price-card-content">
									<h3 class="heading-style-h3">$299/<span class="text-size-regular is-white-200">Per month</span></h3>
									<div class="price-content">
										<h6 class="heading-style-h6 text-color-orange">Most popular </h6>
										<div class="text-size-regular">&amp; perfect for business use</div>
									</div>
								</div>
								<div class="padding-bottom padding-small"></div>
								<ul role="list" class="price-list">
									<li class="price-list-item">
										<div class="text-size-regular is-white-200">Everything in Basic Plan</div>
									</li>
									<li class="price-list-item">
										<div class="text-size-regular is-white-200">Marketing Automation Tools</div>
									</li>
									<li class="price-list-item">
										<div class="text-size-regular is-white-200">Lead Nurturing Automation</div>
									</li>
									<li class="price-list-item">
										<div class="text-size-regular is-white-200">Customizable Dashboards</div>
									</li>
								</ul>
								<div class="padding-bottom padding-medium"></div>
								<a href="https://fluxcrm.webflow.io/product/professional-plan" class="button w-inline-block">
									<div>Get started now</div>
								</a>
							</div>
							<div id="w-node-_85c784b2-6b19-5853-72cf-32cbf1f62529-1e0ecad8" class="price-card _2nd">
								<h4 class="heading-style-h4">Business Plan</h4>
								<div class="padding-bottom padding-small"></div>
								<div class="price-card-content">
									<h3 class="heading-style-h3">$499/<span class="text-size-regular is-white-200">Per month</span></h3>
									<div class="price-content">
										<div class="text-size-regular">Best for large businesses use</div>
									</div>
								</div>
								<div class="padding-bottom padding-small"></div>
								<ul role="list" class="price-list">
									<li class="price-list-item">
										<div class="text-size-regular is-white-200">Everything in Professional Plan</div>
									</li>
									<li class="price-list-item">
										<div class="text-size-regular is-white-200">Advanced Analytics Dashboard</div>
									</li>
									<li class="price-list-item">
										<div class="text-size-regular is-white-200">Third-Party Integrations</div>
									</li>
									<li class="price-list-item">
										<div class="text-size-regular is-white-200">Workflow Automation Builder</div>
									</li>
								</ul>
								<div class="padding-bottom padding-medium"></div>
								<a href="https://fluxcrm.webflow.io/product/business-plan" class="button w-inline-block">
									<div>Get started now</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div id="Integration" class="section-integration">
		<div class="padding-global">
			<div class="container-large">
				<div data-w-id="16cc9bb0-5354-7add-6cd8-90b79838285c" class="padding-section-medium">
					<div data-w-id="34e80a25-1a1a-ddd5-fa2b-3990809fa60a" class="integration-component">
						<div class="integration-top-content-wrapper">
							<h2 class="heading-style-h2">Powerful integrations for enhanced efficiency.</h2>
						</div>
						<div class="padding-bottom padding-large"></div>
						<div class="integration-bottom-content-wrapper">
							<div class="integration-bottom-content">
								<div class="integration-left-content">
									<div class="integration-icon-wrapper _2nd"><img src="~/images/integration-20icon-205.svg" loading="lazy" alt="" class="integration-icon" /></div>
									<div class="integration-icon-wrapper"><img src="~/images/integration-20icon-204.svg" loading="lazy" alt="" class="integration-icon" /></div>
								</div>
								<div class="integration-content-wrapper">
									<div class="integration-content">
										<img src="~/images/fi_4457370.svg" loading="lazy" width="70" height="70" alt="" class="integration-icon" />
										<div data-w-id="05fd8715-737d-49ba-27ea-8a84d69dd7eb" style="width:0px;height:0px;opacity:0" class="integration-bg"></div>
										<div data-w-id="d1c43141-171c-a972-a755-9031b69727d1" style="width:0px;height:0px;opacity:0" class="integration-bg _2nd"></div>
										<div data-w-id="ace9c805-03a1-923f-1d84-c6007cd8c994" style="width:0px;height:0px;opacity:0" class="integration-bg _3rd"></div>
									</div>
									<h6 class="heading-style-h6">FluxCRM</h6>
								</div>
								<div class="integration-right-content">
									<div class="integration-icon-wrapper _3rd"><img src="~/images/integration-20icon-203.svg" loading="lazy" alt="" class="integration-icon" /></div>
									<div class="integration-icon-wrapper"><img src="~/images/integration-20icon-202.svg" loading="lazy" alt="" class="integration-icon" /></div>
								</div>
								<div style="-webkit-transform:translate3d(-378px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-378px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-378px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-378px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="integration-line _1st"></div>
								<div style="-webkit-transform:translate3d(347px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(347px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(347px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(347px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="integration-line _2nd"></div>
								<div class="integration-overly"></div>
								<div class="integration-overly _2nd"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="section-feature v3">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-medium">
					<div class="feature-component v3">
						<div class="feature-top-content-wrapper v3">
							<h2 class="heading-style-h2">Comprehensive Tools for Total Business Efficiency</h2>
						</div>
						<div class="padding-bottom padding-large"></div>
						<div class="w-layout-grid feature-grid v3">
							<div id="w-node-ca1d7e67-68cd-7852-bb8f-0593692ddd1f-1e0ecad8" class="feature-card v3">
								<div class="feature-icon-wrapper"><img src="~/images/all-20feature-20icon-206.svg" loading="lazy" alt="" class="feature-icon" /></div>
								<div class="feature-card-wrapper v3">
									<h6 class="heading-style-h6">Customer Support Ticketing</h6>
									<p class="text-size-regular">Neque ut elementum eu blandit lacus proin leo sagittis.</p>
								</div>
							</div>
							<div id="w-node-c36fff72-c4c8-6411-9ad4-954e8207cf22-1e0ecad8" class="feature-card v3">
								<div class="feature-icon-wrapper"><img src="~/images/all-20feature-20icon-205.svg" loading="lazy" alt="" class="feature-icon" /></div>
								<div class="feature-card-wrapper v3">
									<h6 class="heading-style-h6">Email Integration Features</h6>
									<p class="text-size-regular">Lobortis ligula imperdiet aliquam donec interdum netus porttitor turpis.</p>
								</div>
							</div>
							<div id="w-node-e2726b0b-b31c-5c73-4820-8be00e8aed8f-1e0ecad8" class="feature-card v3">
								<div class="feature-icon-wrapper"><img src="~/images/all-20feature-20icon-204.svg" loading="lazy" alt="" class="feature-icon" /></div>
								<div class="feature-card-wrapper v3">
									<h6 class="heading-style-h6">Sales Pipeline Tracking</h6>
									<p class="text-size-regular">Enim arcu ullamcorper aliquet tortor malesuada mi in varius.</p>
								</div>
							</div>
							<div id="w-node-_384c3b48-1d9a-8ddb-16ea-8f39cc729589-1e0ecad8" class="feature-card v3">
								<div class="feature-icon-wrapper"><img src="~/images/all-20feature-20icon-203.svg" loading="lazy" alt="" class="feature-icon" /></div>
								<div class="feature-card-wrapper v3">
									<h6 class="heading-style-h6">Custom Reporting Tools</h6>
									<p class="text-size-regular">Egestas vel dictum vel nunc. Egestas leo pellentesque nulla in commodo.</p>
								</div>
							</div>
							<div id="w-node-_99318331-117c-0e37-982d-e73e4bfc12cd-1e0ecad8" class="feature-card v3">
								<div class="feature-icon-wrapper"><img src="~/images/all-20feature-20icon-202.svg" loading="lazy" alt="" class="feature-icon" /></div>
								<div class="feature-card-wrapper v3">
									<h6 class="heading-style-h6">Marketing Automation Tools</h6>
									<p class="text-size-regular">Mauris nunc at gravida suspendisse adipiscing facilisis nec gravida.</p>
								</div>
							</div>
							<div id="w-node-_6fe51fa9-717b-5257-78f7-d396f3bed9e8-1e0ecad8" class="feature-card v3">
								<div class="feature-icon-wrapper"><img src="~/images/all-20feature-20icon-201.svg" loading="lazy" alt="" class="feature-icon" /></div>
								<div class="feature-card-wrapper v3">
									<h6 class="heading-style-h6">Data Import Wizard</h6>
									<p class="text-size-regular">Semper placerat neque eget habitant tellus ut scelerisque.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div class="section-blog">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-medium padding-bottom-large">
					<div class="blog-component">
						<div class="blog-top-content-wrapper">
							<h2 class="heading-style-h2">Expert advice on CRM strategies.</h2>
							<a href="/blog" class="button w-inline-block">
								<div>Read all our blog</div>
							</a>
						</div>
						<div class="padding-bottom padding-large"></div>
						<div class="blog-bottom-content-wrapper">
							<div class="blog-collection-list-wrapper w-dyn-list">
								<div role="list" class="blog-collection-list w-dyn-items">
									<div role="listitem" class="blog-collection-list-item w-dyn-item">
										<a href="/post/lessons-learned-from-implementing-crm" class="blog-card w-inline-block">
											<div class="blog-card-content-wrapper">
												<div class="blog-card-content">
													<div class="blog-category">
														<div>Case Studies</div>
													</div>
													<h6 class="heading-style-h6">Lessons Learned from Implementing CRM</h6>
												</div>
												<div class="blog-card-content">
													<p class="text-size-regular is-white-200">Lectus egestas morbi netus mi egestas nisl morbi pellentesque proin</p>
													<div class="text-size-small">October 6, 2024</div>
												</div>
											</div>
											<div class="blog-image-wrapper"><img src="~/images/blog-20image-204.webp" loading="lazy" alt="" sizes="(max-width: 767px) 93vw, (max-width: 991px) 94vw, 396px" srcset="images/blog-20image-204-p-500.webp 500w, images/blog-20image-204-p-800.webp 800w, images/blog-20image-204-p-1080.webp 1080w, images/blog-20image-204-p-1600.webp 1600w, images/blog-20image-204.webp 1944w" class="blog-image" /></div>
										</a>
									</div>
								</div>
							</div>
							<div class="blog-quick-contact">
								<div class="blog-quick-contact-top-content">
									<h6 class="heading-style-h6">Join our newsletter for all new updates</h6>
									<p class="text-size-regular is-white-200">Nulla vitae elit mattis quis odio. Vitae vivamus in congue ultri</p>
								</div>
								<div class="blog-quick-contact-bottom-content">
									<div class="text-size-regular is-white-200">Email -</div>
									<div class="blog-form-block w-form">
										<form id="email-form" name="email-form" data-name="Email Form" method="get" class="blog-form" data-wf-page-id="670a04c71093d97f1e0ecad8" data-wf-element-id="67b0e113-b0d7-5d0a-59d7-c63418d49ee9"><input class="text-field w-input" maxlength="256" name="email" data-name="Email" placeholder="Your mail" type="email" id="email" required="" /><input type="submit" data-wait="Please wait..." class="button is-blog w-button" value="Submit" /></form>
										<div class="success-message w-form-done">
											<div>Thank you! Your submission has been received!</div>
										</div>
										<div class="error-message w-form-fail">
											<div>Oops! Something went wrong while submitting the form.</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
