
		<div class="app-main-layout-container">
			<div class="app-main-layout-mask"></div>
			<div class="app-main-layout">
				<div class="app-main-layout-header">
					<div class="app-main-layout-wrapper header">
						<div class="page-heading">
							<h2>Welcome to Artboard!</h2>
							<p class="mt-20 text-large">
								Meet the first true Dashboard and Admin template on the Webflow marketplace!<br />
								Start your growing business with this huge UI kit.
							</p>
						</div>
					</div>
				</div>
				<div class="app-main-layout-wrapper">
					<div class="app-main-layout-content">
						<div class="section-inner">
							<div class="card">
								<h4>Overview</h4>
								<p>Artboard - is a classic Admin/Dashboard template and UI kit which is responsive, feature rich and easily customizable.</p>
								<p>
									It contains <strong>30+</strong> pre-designed pages for your application and includes 4 Dashboard variants (Analytics, Ecommerce, Cryptocurrency, Projects), User Profile, 3 User Setting variants
									(Account Settings, Notifications, Device Management), 4 Payment variants (Payment Details, Manage Subscription, Price Plans, Receipt), Inbox, Contacts CMS, Projects CMS, Login(Sign in), Sign up,
									Forgot Password, Switch Account, 5 Onboarding steps, Password, Search Result, 404, Project page, Contact page, Style Guides, Licensing + huge amount of UI components.
								</p>
								<p>
									Artboard template can be used for building all kind of Cross-platform Applications and Web applications like custom backend admin panel, admin dashboard, accounting software, project management, chat
									application, eCommerce, CMS, CRM, ERP or SAAS. It provides you all the UI you may need, <strong>everything in one place</strong>.
								</p>
							</div>
						</div>
						<div class="section">
							<div class="row w-row">
								<div class="col w-col w-col-4">
									<a href="/dashboards/analytics" class="overview-item w-inline-block">
										<div class="overview-bg _1"></div>
										<div class="overview-content"><div>Dashboard 1 - Analytics</div></div>
									</a>
								</div>
								<div class="col w-col w-col-4">
									<a href="/dashboards/ecommerce" class="overview-item w-inline-block">
										<div class="overview-bg _2"></div>
										<div class="overview-content"><div>Dashboard 2 - Ecommerce</div></div>
									</a>
								</div>
								<div class="w-col w-col-4">
									<a href="/dashboards/cryptocurrency" class="overview-item w-inline-block">
										<div class="overview-bg _3"></div>
										<div class="overview-content"><div>Dashboard 3 - Cryptocurrency</div></div>
									</a>
								</div>
							</div>
						</div>
						<div class="section">
							<div class="row w-row">
								<div class="col w-col w-col-4">
									<a href="/dashboards/projects" class="overview-item w-inline-block">
										<div class="overview-bg _4"></div>
										<div class="overview-content"><div>Dashboard 4 - Projects</div></div>
									</a>
								</div>
								<div class="col w-col w-col-4">
									<a href="/user-profile" class="overview-item w-inline-block">
										<div class="overview-bg _5"></div>
										<div class="overview-content"><div>User Profile</div></div>
									</a>
								</div>
								<div class="w-col w-col-4">
									<a href="/account-settings/general" class="overview-item w-inline-block">
										<div class="overview-bg _6"></div>
										<div class="overview-content"><div>Settings 1 - Account</div></div>
									</a>
								</div>
							</div>
						</div>
						<div class="section">
							<div class="row w-row">
								<div class="col w-col w-col-4">
									<a href="/account-settings/notifications" class="overview-item w-inline-block">
										<div class="overview-bg _7"></div>
										<div class="overview-content"><div>Settings 2 - Notifications</div></div>
									</a>
								</div>
								<div class="col w-col w-col-4">
									<a href="/account-settings/device-management" class="overview-item w-inline-block">
										<div class="overview-bg _8"></div>
										<div class="overview-content"><div>Settings 3 - Devices</div></div>
									</a>
								</div>
								<div class="w-col w-col-4">
									<a href="/payments/payment-details" class="overview-item w-inline-block">
										<div class="overview-bg _9"></div>
										<div class="overview-content"><div>Payments 1 - Method</div></div>
									</a>
								</div>
							</div>
						</div>
						<div class="section">
							<div class="row w-row">
								<div class="col w-col w-col-4">
									<a href="/payments/payments-variant-2-manage-subscription" class="overview-item w-inline-block">
										<div class="overview-bg _10"></div>
										<div class="overview-content"><div>Payments 2 - Subscription</div></div>
									</a>
								</div>
								<div class="col w-col w-col-4">
									<a href="/payments/payments-variant-3-price-plans" class="overview-item w-inline-block">
										<div class="overview-bg _11"></div>
										<div class="overview-content"><div>Payments 3 - Plans</div></div>
									</a>
								</div>
								<div class="w-col w-col-4">
									<a href="/payments/payments-variant-4-receipt" class="overview-item w-inline-block">
										<div class="overview-bg _12"></div>
										<div class="overview-content"><div>Payments 4 - Receipt</div></div>
									</a>
								</div>
							</div>
						</div>
						<div class="section-inner">
							<div class="card text-center promo">
								<h4 class="white">Choose more templates</h4>
								<p class="white">Explore all our amazing templates</p>
								<div class="button-group mt-20">
									<a href="https://webflow.com/templates/designers/craftengine" class="button button-group-item w-button"><strong>Marketplace</strong></a>
									<a href="https://craftengine.co/" class="button button-group-item w-button"><strong>Website</strong></a>
								</div>
							</div>
						</div>
						<div class="section">
							<div class="row w-row">
								<div class="col w-col w-col-4">
									<a href="/inbox" class="overview-item w-inline-block">
										<div class="overview-bg _13"></div>
										<div class="overview-content"><div>Inbox</div></div>
									</a>
								</div>
								<div class="col w-col w-col-4">
									<a href="/contacts" class="overview-item w-inline-block">
										<div class="overview-bg _14"></div>
										<div class="overview-content"><div>Contacts CMS</div></div>
									</a>
								</div>
								<div class="w-col w-col-4">
									<a href="/projects" class="overview-item w-inline-block">
										<div class="overview-bg _15"></div>
										<div class="overview-content"><div>Projects CMS</div></div>
									</a>
								</div>
							</div>
						</div>
						<div class="section">
							<div class="row w-row">
								<div class="col w-col w-col-4">
									<a href="/login" class="overview-item w-inline-block">
										<div class="overview-bg _16"></div>
										<div class="overview-content"><div>Login</div></div>
									</a>
								</div>
								<div class="col w-col w-col-4">
									<a href="/signup" class="overview-item w-inline-block">
										<div class="overview-bg _17"></div>
										<div class="overview-content"><div>Signup</div></div>
									</a>
								</div>
								<div class="w-col w-col-4">
									<a href="/forgot-password" class="overview-item w-inline-block">
										<div class="overview-bg _18"></div>
										<div class="overview-content"><div>Forget Password</div></div>
									</a>
								</div>
							</div>
						</div>
						<div class="section">
							<div class="row w-row">
								<div class="col w-col w-col-4">
									<a href="/switch-account" class="overview-item w-inline-block">
										<div class="overview-bg _19"></div>
										<div class="overview-content"><div>Switch Account</div></div>
									</a>
								</div>
								<div class="col w-col w-col-4">
									<a href="/onboarding/step-1" class="overview-item w-inline-block">
										<div class="overview-bg _20"></div>
										<div class="overview-content"><div>Onboarding (5 steps)</div></div>
									</a>
								</div>
								<div class="w-col w-col-4">
									<a href="/search" class="overview-item w-inline-block">
										<div class="overview-bg _21"></div>
										<div class="overview-content"><div>Search Result</div></div>
									</a>
								</div>
							</div>
						</div>
						<div class="section">
							<div class="row w-row">
								<div class="col w-col w-col-4">
									<a href="/404" class="overview-item w-inline-block">
										<div class="overview-bg _22"></div>
										<div class="overview-content"><div>404</div></div>
									</a>
								</div>
								<div class="col w-col w-col-4">
									<a href="/contacts/sed-atque" class="overview-item w-inline-block">
										<div class="overview-bg _23"></div>
										<div class="overview-content"><div>Contacts Template</div></div>
									</a>
								</div>
								<div class="w-col w-col-4">
									<a href="/project/nobis" class="overview-item w-inline-block">
										<div class="overview-bg _24"></div>
										<div class="overview-content"><div>Projects Template</div></div>
									</a>
								</div>
							</div>
						</div>
						<div class="section-inner">
							<div class="card text-center promo">
								<h4 class="white">Choose more templates</h4>
								<p class="white">Explore all our amazing templates</p>
								<div class="button-group mt-20">
									<a href="https://webflow.com/templates/designers/craftengine" class="button button-group-item w-button"><strong>Marketplace</strong></a>
									<a href="https://craftengine.co/" class="button button-group-item w-button"><strong>Website</strong></a>
								</div>
							</div>
						</div>
					</div>
					<div class="footer">
						<div class="w-row">
							<div class="w-col w-col-6"><div class="hint">© Copyright Artboard. All rights reserved</div></div>
							<div class="footer-right w-col w-col-6">
								<div class="hint"><a href="https://webflow.com/" class="footer-link">Powered by Webflow</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
