		<div class="app-main-layout-container">
			<div class="app-main-layout-mask"></div>
			<div class="app-main-layout">
				<div class="app-main-layout-header">
					<div class="app-main-layout-wrapper header">
						<div class="page-heading"><h2>Dashboard</h2></div>
						<div class="page-tabs-menu">
							<a href="/dashboards/analytics" aria-current="page" class="page-tab-link traffic w--current">Analytics</a><a href="/dashboards/ecommerce" class="page-tab-link revenue">Ecommerce</a>
							<a href="/dashboards/cryptocurrency" class="page-tab-link crypto">Crypto</a><a href="/dashboards/projects" class="page-tab-link projects">Projects</a>
						</div>
					</div>
				</div>
				<div class="app-main-layout-wrapper">
					<div class="app-main-layout-content">
						<div class="page-tabs-content">
							<div class="section">
								<div class="flex row w-row">
									<div class="col w-col w-col-8">
										<div class="card">
											<div class="card-heading"><h4 class="mb-0">Traffic Overview</h4></div>
											<img src="../images/5d448bc8a4923bb32489ac62_chart-20visitors.svg" alt="" />
										</div>
									</div>
									<div class="col w-col w-col-4">
										<div class="card">
											<div class="card-heading"><h4 class="mb-0">Devices</h4></div>
											<div class="text-center"><img src="../images/5d44ac20be46802c5a73382c_chart-20circle.svg" width="200" alt="" /></div>
											<div class="chart-symbols">
												<div class="chart-symbols-item">
													<div class="chart-color"></div>
													<div class="chart-symbols-item-name">Desktop</div>
													<div>45%</div>
												</div>
												<div class="chart-symbols-item">
													<div class="chart-color green"></div>
													<div class="chart-symbols-item-name">Mobile</div>
													<div>30%</div>
												</div>
												<div class="chart-symbols-item">
													<div class="chart-color blue"></div>
													<div class="chart-symbols-item-name">Tablet</div>
													<div>25%</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="section">
								<div class="flex row w-row">
									<div class="col w-col w-col-4">
										<div class="card text-center">
											<div class="card-heading center"><div class="caption mb-0">Total Visits</div></div>
											<div class="key-price-value">105,834</div>
											<div class="data-status up">
												<img src="../images/5d4581e928d7ff01cfca70d8_icons8-low-priority-100-20-1-.png" width="20" alt="" class="data-status-icon" />
												<div class="data-status-text">+10.32%</div>
											</div>
											<img src="../images/5d4579b128d7ff346bca5047_chart-20metric.svg" width="400" alt="" class="single-data-image" />
										</div>
									</div>
									<div class="col w-col w-col-4">
										<div class="card text-center">
											<div class="card-heading center"><div class="caption mb-0">BOUNCE RATE</div></div>
											<div class="key-price-value">49.34%</div>
											<div class="data-status down">
												<img src="../images/5d4582da350234b3303a56a1_icons8-low-priority-100.png" width="20" alt="" class="data-status-icon" />
												<div class="data-status-text">-5.04%</div>
											</div>
											<img src="../images/5d4579f1ccba406da8267198_chart-20metric-20green.svg" width="400" alt="" class="single-data-image" />
										</div>
									</div>
									<div class="col w-col w-col-4">
										<div class="card text-center">
											<div class="card-heading center"><div class="caption mb-0">VISIT DURATION</div></div>
											<div class="key-price-value">12m 31s</div>
											<div class="data-status up">
												<img src="../images/5d4581e928d7ff01cfca70d8_icons8-low-priority-100-20-1-.png" width="20" alt="" class="data-status-icon" />
												<div class="data-status-text">+ 1.85%</div>
											</div>
											<img src="../images/5d457a38ac9ddec4a5e82f4e_chart-20metric-20grey.svg" width="400" alt="" class="single-data-image" />
										</div>
									</div>
								</div>
							</div>
							<div class="section">
								<div class="flex row w-row">
									<div class="col w-col w-col-4">
										<div class="card text-center">
											<div class="card-heading center"><div class="caption mb-0">Goal Completions</div></div>
											<div class="progress-circle-container text-center">
												<img src="../images/5d46008652d2934741c08176_chart-20progress.svg" width="200" alt="" />
												<div class="budget-circle-text">12%</div>
											</div>
											<div class="data-status up">
												<img src="../images/5d4581e928d7ff01cfca70d8_icons8-low-priority-100-20-1-.png" width="20" alt="" class="data-status-icon" />
												<div class="data-status-text">+10.32%</div>
											</div>
											<div class="hint">from the last month</div>
										</div>
									</div>
									<div class="col w-col w-col-8">
										<div class="card">
											<div class="card-heading"><h4 class="mb-0">Traffic Source</h4></div>
											<div class="table">
												<div class="row table-row table-header w-row">
													<div class="col table-col w-col w-col-3 w-col-small-4 w-col-tiny-4"><div>Channel</div></div>
													<div class="col table-col w-col w-col-3 w-col-small-4 w-col-tiny-4"><div>Sessions</div></div>
													<div class="col table-col w-col w-col-6 w-col-small-4 w-col-tiny-4"><div>Ratio</div></div>
												</div>
												<div class="row table-row w-row">
													<div class="col table-col w-col w-col-3 w-col-small-4 w-col-tiny-4"><div>Organic</div></div>
													<div class="col table-col w-col w-col-3 w-col-small-4 w-col-tiny-4"><div>51,293</div></div>
													<div class="col table-col w-col w-col-6 w-col-small-4 w-col-tiny-4">
														<div class="progress-outer"><div class="progress-inner _50"></div></div>
													</div>
												</div>
												<div class="row table-row w-row">
													<div class="col table-col w-col w-col-3 w-col-small-4 w-col-tiny-4"><div>Direct</div></div>
													<div class="col table-col w-col w-col-3 w-col-small-4 w-col-tiny-4"><div>43,345</div></div>
													<div class="col table-col w-col w-col-6 w-col-small-4 w-col-tiny-4">
														<div class="progress-outer"><div class="progress-inner _40"></div></div>
													</div>
												</div>
												<div class="row table-row last w-row">
													<div class="col table-col w-col w-col-3 w-col-small-4 w-col-tiny-4"><div>Referral</div></div>
													<div class="col table-col w-col w-col-3 w-col-small-4 w-col-tiny-4"><div>14,022</div></div>
													<div class="col table-col w-col w-col-6 w-col-small-4 w-col-tiny-4">
														<div class="progress-outer"><div class="progress-inner _15"></div></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="footer">
						<div class="w-row">
							<div class="w-col w-col-6"><div class="hint">© Copyright Artboard. All rights reserved</div></div>
							<div class="footer-right w-col w-col-6">
								<div class="hint"><a href="https://webflow.com/" class="footer-link">Powered by Webflow</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

