
		<div class="app-main-layout-container">
			<div class="app-main-layout-mask"></div>
			<div class="app-main-layout">
				<div class="app-main-layout-header">
					<div class="app-main-layout-wrapper header">
						<div class="page-heading with-button">
							<h2>Account Settings</h2>
							<div class="page-title-button"><a href="#" class="button button-primary w-button">Switch account</a></div>
						</div>
						<div class="page-tabs-menu">
							<a href="/account-settings/general" aria-current="page" class="page-tab-link general-settings w--current">General</a>
							<a href="/account-settings/notifications" class="page-tab-link notification">Notifications</a><a href="/account-settings/device-management" class="page-tab-link devices">Devices</a>
						</div>
					</div>
				</div>
				<div class="app-main-layout-wrapper">
					<div class="app-main-layout-content">
						<div class="section">
							<div class="flex row w-row">
								<div class="col w-col w-col-6">
									<div class="card">
										<div class="card-heading-small"><h4>Subscription</h4></div>
										<div class="input-group">
											<div class="input-group-item-left"><div class="label">$4.99 per month.</div></div>
											<a href="#" class="button button-small button-growth-none w-button">Change</a>
										</div>
										<div class="input-group">
											<div class="input-group-item-left"><div class="label">Family monthly subscription.</div></div>
											<a href="#" class="button button-small button-growth-none w-button">Manage</a>
										</div>
									</div>
								</div>
								<div class="col w-col w-col-6">
									<div class="card">
										<div class="card-heading-small">
											<h4>Delete account</h4>
											<p>Before deleting you account, you must cancel your subscription.</p>
										</div>
										<a href="#" class="button button-outline modal-action w-button">Delete account</a>
										<div class="modal">
											<div class="modal-mask"></div>
											<div class="modal-container">
												<a href="#" class="modal-close w-inline-block"></a>
												<div class="modal-title">
													<h4 class="text-center">Delete account</h4>
													<p class="text-center">Are you sure you want to delete the account?</p>
												</div>
												<div>
													<a data-w-id="7ec7bec8-5a16-9c23-c421-9879420376b3" href="#" class="button-block button button-primary w-button">Cancel</a>
													<a href="#" class="button-block button button-outline w-button">Delete account</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="section">
							<div class="flex row w-row">
								<div class="col w-col w-col-6">
									<div class="card">
										<h4 class="card-heading-small">Personal settings</h4>
										<div class="input-group">
											<div class="input-group-item-left">
												<div class="label">Email</div>
												<div class="account-login-text">markroster@gmail.com</div>
											</div>
											<a href="#" class="button button-small button-growth-none modal-action w-button">Change</a>
											<div class="modal">
												<div class="modal-mask"></div>
												<div class="modal-container">
													<a href="#" class="modal-close w-inline-block"></a>
													<h4 class="modal-title text-center">Change email</h4>
													<div class="w-form">
														<form id="email-form" name="email-form" data-name="Email Form">
															<div class="form-group">
																<label for="name-5" class="label">Email</label>
																<input type="email" class="input w-input" maxlength="256" name="name-3" data-name="Name 3" placeholder="Enter your new email" id="name-3" />
															</div>
															<div class="form-group">
																<label for="name-5" class="label">Password</label>
																<input type="password" class="input w-input" maxlength="256" name="name-4" data-name="Name 4" placeholder="Enter current password" id="name-4" />
															</div>
															<input type="submit" value="Update password" data-wait="Please wait..." class="button button-primary button-block w-button" />
														</form>
														<div class="success-message w-form-done"><div>Thank you! Your submission has been received!</div></div>
														<div class="error-message w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div>
													</div>
												</div>
											</div>
										</div>
										<div class="w-form">
											<form id="email-form" name="email-form" data-name="Email Form">
												<div class="form-group">
													<label for="username-2" class="label">Username</label>
													<input type="text" class="input w-input" maxlength="256" name="username-2" data-name="Username 2" placeholder="markroster" id="username-2" />
												</div>
												<div class="form-group">
													<label for="name-5" class="label">Language</label>
													<select id="field-2" name="field-2" data-name="Field 2" class="input w-select">
														<option value="English">English</option>
														<option value="Spanish">Spanish</option>
													</select>
												</div>
												<div class="form-group">
													<label class="w-checkbox">
														<input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input" /><span class="hint w-form-label">Subscribe to newsletters</span>
													</label>
												</div>
												<div class="button-group"><input type="submit" value="Save" data-wait="Please wait..." class="button button-primary button-group-item w-button" /></div>
											</form>
											<div class="success-message w-form-done"><div>Thank you! Your submission has been received!</div></div>
											<div class="error-message w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div>
										</div>
									</div>
								</div>
								<div class="col w-col w-col-6">
									<div class="card">
										<div class="card-heading vertical">
											<h4>Change password</h4>
											<div class="heading-text">
												<p class="hint inline">
													Forgot your password? <em><br /></em>
												</p>
												<a href="#" class="hint modal-action">Reset password</a>
												<div class="modal">
													<div class="modal-mask"></div>
													<div class="modal-container">
														<a href="#" class="modal-close w-inline-block"></a>
														<div class="modal-title">
															<h4 class="text-center">Reset password</h4>
															<p class="text-center">Enter your email and we&#x27;ll send you instructions on how to reset your password.</p>
														</div>
														<div class="w-form">
															<form id="email-form" name="email-form" data-name="Email Form">
																<div class="form-group">
																	<label for="name-5" class="label">Email</label>
																	<input type="email" class="input w-input" maxlength="256" name="name-3" data-name="Name 3" placeholder="Enter your email" id="name-3" />
																</div>
																<input type="submit" value="Reset password" data-wait="Please wait..." class="button button-primary button-block w-button" />
															</form>
															<div class="success-message w-form-done"><div>Thank you! Your submission has been received!</div></div>
															<div class="error-message w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="w-form">
											<form id="email-form" name="email-form" data-name="Email Form">
												<div class="form-group">
													<label for="name-5" class="label">Current password</label><input type="password" class="input w-input" maxlength="256" name="name-4" data-name="Name 4" id="name-4" />
												</div>
												<div class="form-group">
													<label for="name-5" class="label">New password</label><input type="password" class="input w-input" maxlength="256" name="name-3" data-name="Name 3" id="name-3" />
												</div>
												<div class="form-group">
													<label for="name-5" class="label">Repeat password</label><input type="password" class="input w-input" maxlength="256" name="name-2" data-name="Name 2" id="name-2" />
												</div>
												<input type="submit" value="Update password" data-wait="Please wait..." class="button button-primary w-button" />
											</form>
											<div class="success-message w-form-done"><div>Thank you! Your submission has been received!</div></div>
											<div class="error-message w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="footer">
						<div class="w-row">
							<div class="w-col w-col-6"><div class="hint">© Copyright Artboard. All rights reserved</div></div>
							<div class="footer-right w-col w-col-6">
								<div class="hint"><a href="https://webflow.com/" class="footer-link">Powered by Webflow</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
