
		<div class="app-main-layout-container">
			<div class="app-main-layout-mask"></div>
			<div class="app-main-layout">
				<div class="app-main-layout-header">
					<div class="app-main-layout-wrapper header">
						<div class="page-heading">
							<h2>User Profile</h2>
							<p>Components for editing profile, friends list, public profile and post view.</p>
						</div>
					</div>
				</div>
				<div class="app-main-layout-wrapper">
					<div class="app-main-layout-content">
						<div class="section">
							<div class="row w-row">
								<div class="col w-col w-col-8">
									<div class="card">
										<div class="profile-bg"><a href="#" class="edit-profile-bg w-inline-block"></a></div>
										<div class="profile-info">
											<div class="avatar big"></div>
											<div class="profile-details">
												<h5 class="profile-name">Mark Roster</h5>
												<div>markroster</div>
											</div>
											<div class="profile-follow"><a href="#" class="button button-small button-primary w-button">Follow</a></div>
										</div>
										<div data-duration-in="300" data-duration-out="100" class="w-tabs">
											<div class="tabs-menu w-tab-menu">
												<a data-w-tab="Tab 1" class="tab-link w-inline-block w-tab-link w--current"><div>About</div></a><a data-w-tab="Tab 3" class="tab-link w-inline-block w-tab-link"><div>Edit profile</div></a>
												<a data-w-tab="Tab 4" class="tab-link w-inline-block w-tab-link"><div>Friends</div></a>
											</div>
											<div class="tabs-content w-tab-content">
												<div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
													<div class="row w-row">
														<div class="col w-col w-col-6">
															<div class="flex-center profile-about-row">
																<div class="profile-info-heading"><strong>Phone</strong></div>
																<div>+35278953712</div>
															</div>
															<div class="flex-center profile-about-row">
																<div class="profile-info-heading"><strong>Email</strong></div>
																<div>petrovdz91@gmail.com</div>
															</div>
														</div>
														<div class="col w-col w-col-6">
															<div class="flex-center profile-about-row">
																<div class="profile-info-heading"><strong>Date of Birth</strong></div>
																<div>25.04.1992</div>
															</div>
															<div class="flex-center profile-about-row">
																<div class="profile-info-heading"><strong>Location</strong></div>
																<div>Ukraine, Kyiv</div>
															</div>
														</div>
													</div>
													<div class="devider transparent"></div>
													<div class="profile-info-heading"><strong>Position</strong></div>
													<p>Template designer at <strong>Webflow Inc</strong>.</p>
													<div class="devider transparent"></div>
													<div class="profile-info-heading"><strong>Bio</strong></div>
													<p>
														Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut
														commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
													</p>
												</div>
												<div data-w-tab="Tab 3" class="w-tab-pane">
													<div class="w-form">
														<form id="wf-form-profile" name="wf-form-profile" data-name="profile">
															<div class="form-group">
																<div class="avatar-container">
																	<div class="upload-photo">
																		<img src="images/5e96fbc0c475b704982d5d94_icons8-upload-to-the-cloud-100.png" width="25" alt="" class="upload-photo-icon" />
																		<a href="#" class="link">Upload photo</a>
																	</div>
																</div>
															</div>
															<div class="form-group">
																<label for="name" class="label">First Name</label>
																<input type="text" class="input w-input" maxlength="256" name="name-3" data-name="Name 3" placeholder="Mark" id="name-3" />
															</div>
															<div class="form-group">
																<label for="name" class="label">Last Name</label>
																<input type="text" class="input w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="Roster" id="name-2" />
															</div>
															<div class="form-group">
																<label for="name" class="label">Date of Birth</label>
																<div class="row padding w-row">
																	<div class="col padding w-col w-col-4 w-col-small-4 w-col-tiny-tiny-stack">
																		<select id="field-4" name="field-4" data-name="Field 4" class="input w-select">
																			<option value="day">Day</option>
																			<option value="01">01</option>
																			<option value="02">02</option>
																			<option value="03">03</option>
																			<option value="04">04</option>
																			<option value="05">05</option>
																			<option value="06">06</option>
																			<option value="07">07</option>
																			<option value="08">08</option>
																			<option value="09">09</option>
																			<option value="10">10</option>
																			<option value="11">11</option>
																			<option value="12">12</option>
																			<option value="13">13</option>
																			<option value="14">14</option>
																			<option value="15">15</option>
																			<option value="16">16</option>
																			<option value="17">17</option>
																			<option value="18">18</option>
																			<option value="19">19</option>
																			<option value="20">20</option>
																			<option value="21">21</option>
																			<option value="22">22</option>
																			<option value="23">23</option>
																			<option value="24">24</option>
																			<option value="25">25</option>
																			<option value="26">26</option>
																			<option value="27">27</option>
																			<option value="28">28</option>
																			<option value="29">29</option>
																			<option value="30">30</option>
																			<option value="31">31</option>
																		</select>
																	</div>
																	<div class="col padding w-col w-col-4 w-col-small-4 w-col-tiny-tiny-stack">
																		<select id="field-2" name="field-2" data-name="Field 2" class="input w-select">
																			<option value="month">Month</option>
																			<option value="01">01</option>
																			<option value="02">02</option>
																			<option value="03">03</option>
																			<option value="04">04</option>
																			<option value="05">05</option>
																			<option value="06">06</option>
																			<option value="07">07</option>
																			<option value="08">08</option>
																			<option value="09">09</option>
																			<option value="10">10</option>
																			<option value="11">11</option>
																			<option value="12">12</option>
																		</select>
																	</div>
																	<div class="col padding w-col w-col-4 w-col-small-4 w-col-tiny-tiny-stack">
																		<select id="field-3" name="field-3" data-name="Field 3" class="input w-select">
																			<option value="year">Year</option>
																			<option value="1990">1990</option>
																			<option value="1991">1991</option>
																			<option value="1992">1992</option>
																			<option value="1993">1993</option>
																			<option value="1994">1994</option>
																			<option value="1995">1995</option>
																			<option value="1996">1996</option>
																			<option value="1997">1997</option>
																			<option value="1998">1998</option>
																			<option value="1999">1999</option>
																			<option value="2000">2000</option>
																			<option value="2001">2001</option>
																		</select>
																	</div>
																</div>
															</div>
															<div class="form-group">
																<label for="name" class="label">Gender</label>
																<label class="radio w-radio">
																	<input type="radio" data-name="Radio" id="radio" name="radio" value="Radio" class="w-form-formradioinput w-radio-input" /><span class="hint w-form-label">Male</span>
																</label>
																<label class="radio w-radio">
																	<input type="radio" data-name="Radio" id="radio" name="radio" value="Radio" class="w-form-formradioinput w-radio-input" /><span class="hint w-form-label">Female</span>
																</label>
															</div>
															<div class="form-group">
																<label for="name" class="label">Company Name</label>
																<input type="text" class="input w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="Webflow Inc." id="name-2" />
															</div>
															<div class="form-group">
																<label for="name" class="label">Contact Email</label>
																<input type="email" class="input w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="markroster@gmail.com" id="name-2" />
																<label for="name" class="label">Phone</label>
																<input type="tel" class="input w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="+35278953712" id="name-2" />
															</div>
															<div class="form-group">
																<label for="name" class="label">Location</label>
																<input type="text" class="input w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="Ukraine, Kyiv" id="name-2" />
															</div>
															<div class="form-group">
																<label for="name" class="label">Bio</label><textarea placeholder="Example Text" maxlength="5000" id="field-5" name="field-5" class="textarea w-input"></textarea>
															</div>
															<input type="submit" value="Save changes" data-wait="Please wait..." class="button button-primary w-button" />
														</form>
														<div class="success-message w-form-done"><div>Saved!</div></div>
														<div class="error-message w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div>
													</div>
												</div>
												<div data-w-tab="Tab 4" class="w-tab-pane">
													<div class="w-row">
														<div class="w-col w-col-6">
															<div class="friend-item">
																<div class="friend-photo-container">
																	<img src="images/5d3e1c7273102c1b34c484bf_christopher-campbell-rdeovte7vos-unsplash.png" width="50" alt="" class="friend-photo" />
																	<div class="online-status off"></div>
																</div>
																<div><div>Izabella Watson</div></div>
															</div>
															<div class="friend-item">
																<div class="friend-photo-container">
																	<img src="images/5d3e1c61b1eba40b1d1e4e36_alex-blajan-qdpfwfches4-unsplash.png" width="50" alt="" class="friend-photo" />
																	<div class="online-status on"></div>
																</div>
																<div><div>Huan Trent</div></div>
															</div>
															<div class="friend-item">
																<div class="friend-photo-container">
																	<img src="images/5d3e1c4e850abc7f8dc47373_gabriel-silverio-u3wmdykgsry-unsplash.png" width="50" alt="" class="friend-photo" />
																	<div class="online-status"></div>
																</div>
																<div><div>Eva Jonson</div></div>
															</div>
														</div>
														<div class="w-col w-col-6">
															<div class="friend-item">
																<div class="friend-photo-container">
																	<img src="images/5d3e1c30c89f6a9caf29137d_jared-sluyter-das6nrjlom0-unsplash.png" width="50" alt="" class="friend-photo" />
																	<div class="online-status on"></div>
																</div>
																<div><div>Naton Rodson</div></div>
															</div>
															<div class="friend-item">
																<div class="friend-photo-container">
																	<img src="images/5d3e1c20c89f6a7e69291364_ivana-cajina-_7lbc5j-jw4-unsplash.png" width="50" alt="" class="friend-photo" />
																	<div class="online-status"></div>
																</div>
																<div><div>Jim Cosper</div></div>
															</div>
															<div class="friend-item">
																<div class="friend-photo-container">
																	<img src="images/5d3e1c0973102c629bc483c4_michael-dam-mez3pofgs_k-unsplash.png" width="50" alt="" class="friend-photo" />
																	<div class="online-status off"></div>
																</div>
																<div><div>Anny Sanders</div></div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col w-col w-col-4">
									<div class="section-inner">
										<div class="card">
											<div class="avatar block-center"></div>
											<h5 class="profile-name text-center">Mark Roster</h5>
											<div class="text-center">Template designer</div>
											<div class="profile-social text-center">
												<a href="https://www.facebook.com/" class="social-link fb w-inline-block"></a><a href="https://twitter.com" class="social-link twitter w-inline-block"></a>
												<a href="https://www.instagram.com/" class="social-link insta w-inline-block"></a>
											</div>
											<div class="profile-card-columns">
												<div class="row w-row">
													<div class="col col-border-right text-center w-col w-col-4 w-col-small-4 w-col-tiny-4">
														<div class="profile-card-col">
															<div class="profile-card-col-number">2012</div>
															<div class="hint">Following</div>
														</div>
													</div>
													<div class="col text-center col-border-right w-col w-col-4 w-col-small-4 w-col-tiny-4">
														<div class="profile-card-col">
															<div class="profile-card-col-number">20910</div>
															<div class="hint">Followers</div>
														</div>
													</div>
													<div class="col text-center w-col w-col-4 w-col-small-4 w-col-tiny-4">
														<div class="profile-card-col">
															<div class="profile-card-col-number">32</div>
															<div class="hint">Posts</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="section-inner">
										<div class="card no-padding">
											<div class="post-author">
												<div class="friend-photo-container">
													<img src="images/5d3e1c7273102c1b34c484bf_christopher-campbell-rdeovte7vos-unsplash.png" width="50" alt="" class="friend-photo" />
													<div class="online-status off"></div>
												</div>
												<div>
													<div class="text-heading-grey">Izabella Watson</div>
													<div class="hint">12 days ago</div>
												</div>
											</div>
											<div class="post-content"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p></div>
											<div class="post-feedback">
												<div class="post-feedback-item">
													<img src="images/5e96ff5ad1192832534fd994_icons8-facebook-like-100-20-1-.png" width="25" alt="" class="post-feedback-icon" />
													<div class="hint">562</div>
												</div>
												<div class="post-feedback-item">
													<img src="images/5e96ff664324311db0239c06_icons8-comments-100-20-1-.png" width="25" alt="" class="post-feedback-icon" />
													<div class="hint">6</div>
												</div>
												<div class="post-feedback-item">
													<img src="images/5e96ff73bda71649d5a7343e_icons8-share-100-20-1-.png" width="25" alt="" class="post-feedback-icon" />
													<div class="hint">12</div>
												</div>
											</div>
											<div class="post-form">
												<div class="w-form">
													<form id="wf-form-profile" name="wf-form-profile" data-name="profile">
														<textarea placeholder="Example Text" maxlength="5000" id="field-5" name="field-5" class="textarea w-input"></textarea>
														<input type="submit" value="Post" data-wait="Please wait..." class="button button-primary button-small w-button" />
													</form>
													<div class="success-message w-form-done"><div>Saved!</div></div>
													<div class="error-message w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="footer">
						<div class="w-row">
							<div class="w-col w-col-6"><div class="hint">© Copyright Artboard. All rights reserved</div></div>
							<div class="footer-right w-col w-col-6">
								<div class="hint"><a href="https://webflow.com/" class="footer-link">Powered by Webflow</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
